<%- include("partials/header") %>
    <form action="/logout" class="m-x-auto d-flex justify-content-end gap-3">
        <a class="btn btn-success btn-lg mt-4" href="/home" role="button">Home</a>
        <button class="btn btn-danger btn-lg mt-4">Log Out</button>
    </form>

    <div class="page">
        <form action="" method="post">
            <fieldset class="form_box">
                <%- include("pages/page1") %>
            </fieldset>
            <fieldset class="form_box">
                <%- include("pages/page2") %>
            </fieldset>
            <fieldset class="form_box">
                <%- include("pages/page3") %>
            </fieldset>
            <fieldset class="form_box">
                <%- include("pages/page4") %>
            </fieldset>
            <fieldset class="form_box">
                <%- include("pages/page5") %>
            </fieldset>
            <div class="d-flex align-items-center justify justify-content-center gap-3 py-3">
                <button type="submit" formaction="/preview/<%= patient_id %>"
                    class="btn btn-primary rounded px-4 text-white">Preview</button>
                <!-- <button type="submit" formaction="/preview" class="btn btn-danger rounded px-4 text-white">Update</button> -->
            </div>
        </form>
    </div>

    <%- include("partials/footer") %>