<%- include("partials/header") %>
    <div class="page">
        <form action="/home" method="post">
            <fieldset class="form_box">
                <%- include("pages/page1") %>
            </fieldset>
            <fieldset class="form_box">
                <%- include("pages/page2") %>
            </fieldset>
            <fieldset class="form_box">
                <%- include("pages/page3") %>
            </fieldset>
            <fieldset class="form_box">
                <%- include("pages/page4") %>
            </fieldset>
            <fieldset class="form_box">
                <%- include("pages/page5") %>
            </fieldset>
            <div class="d-flex align-items-center justify justify-content-center gap-3 py-3">
                <button type="submit" class="btn btn-warning ounded px-4 text-white">Submit</button>
            </div> 
        </form>
        
        <br>
        <label for="">Enter name: </label><br>
        <input type="text" name="fullName" placeholder="Enter name" autocomplete="off">
        <button class="btn btn-outline-success">Search</button>

        <br>
        <label for="">Enter phone number</label><br>
        <input type="number" name="phoneNo" placeholder="Enter phone no" autocomplete="off">
        <button class="btn btn-outline-success">Search</button>
    </form>

    <form action="/form">
        <button class="btn btn-primary w-20 mt-5">New application</button>
    </form>

<%- include("partials/footer") %>