<%- include("partials/header") %>

    <div class="page">
        <form action="/logout" class="m-l-auto d-flex justify-content-end">
            <a class="btn btn-success btn-md mt-4 mx-3" href="/home" role="button">Home</a>
        <button class="btn btn-danger btn-md mt-4">Log Out</button>
        </form>

        <% if (errorMessage.length !==0) { %>
            <div id="flash-message" class="alert alert-danger text-center mx-auto p-2">
                <strong style="font-size: 20px"><i class="fa-solid fa-circle-exclamation mx-3"></i>
                    <%= errorMessage %>
                </strong>
            </div>
        <% } %>

        <% if (successMessage.length !==0) { %>
            <div id="flash-message" class="alert alert-success text-center mx-auto p-2">
                <strong style="font-size: 20px"><i class="fa-solid fa-circle-check mx-3"></i>
                    <%= successMessage %>
                </strong>
            </div>
        <% } %>


        <% if (successUpdatedMessage.length !==0) { %>
            <div id="flash-message" class="alert alert-success text-center mx-auto p-2">
                <strong style="font-size: 20px"><i class="fa-solid fa-circle-check mx-3"></i>
                    <%= successUpdatedMessage %>
                </strong>
            </div>
        <% } %>

        <div class="search_container">
            <div class="dropdown">
                <button class="btn btn-outline-light btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Select
                </button>
                <ul class="dropdown-menu">
                    <li><button id="ref_no_btn" class="dropdown-item" type="button" name="ref_no_btn">ref_no</button></li>
                    <li><button id="name_btn" class="dropdown-item" type="button" name="name_btn">Name</button></li>
                    <li><button id="phone_no_btn" class="dropdown-item" type="button" name="phone_no_btn">Phone no</button></li>
                </ul>
            </div>

            <div class="dropdown_list">
                <form action="/preview2" method="post">
                    <div id="1" style="display:none">
                        <input type="number" name="ref_no" placeholder="Enter reference number" autocomplete="off">
                        <button type="submit" class="btn btn-outline-success  mt-sm-0 py-2 btn-lg mt-2 mt-xs-0">Search</button>
                    </div>
                    <div id="2" style="display:none">
                        <input type="text" name="fullName" placeholder="Enter name" autocomplete="off">
                        <button type="submit" class="btn btn-outline-success  mt-sm-0 py-2 btn-lg mt-2 mt-xs-0">Search</button>
                    </div>
                    <div id="3" style="display:none">
                        <input type="number" name="phoneNo" placeholder="Enter phone no" autocomplete="off">
                        <button type="submit" class="btn btn-outline-success  mt-sm-0 py-2 btn-lg mt-2 mt-xs-0">Search</button>
                    </div>
                </form>
            </div>
            <a class="btn btn-primary new_application_btn" href="/form" role="button">New Application</a>
        </div>

        <table style="border-collapse: collapse; width: 100%; margin-top: 2rem; color: white;">
            <thead>
                <tr>
                    <th style="border: 1px solid white; padding: 8px; width: 5%">Ref No</th>
                    <th style="border: 1px solid white; padding: 8px; width: 20%">Name</th>
                    <th style="border: 1px solid white; padding: 8px; width: 15%">Contact</th>
                    <th style="border: 1px solid white; padding: 8px; width: 15%">Date</th>
                    <th style="border: 1px solid white; padding: 8px; width: 10%">Sex</th>
                </tr>
    
                <% if (patientDetails) { %>
                    <% 
                        // Convert patientDetails object into an array
                        const patientArray = Object.values(patientDetails);
                        
                        // Filter the patientArray to include records belonging to the current user
                        const userPatients = patientArray.filter(patient => patient.doctor === username);
                        
                        // Sort the userPatients array by ref_no in ascending order
                        userPatients.sort((a, b) => a.ref_no - b.ref_no);
                    %>
                
                    <% for(let i = 0; i < userPatients.length; i++) { %>
                        <tr>
                            <td style="border: 1px solid white; padding: 8px; width: 5%; color: white"><%= userPatients[i].ref_no %></td>
                            <td style="border: 1px solid white; padding: 8px; width: 10%; color: white"><%= userPatients[i].pages.fullName %></td>
                            <td style="border: 1px solid white; padding: 8px; width: 10%; color: white"><%= userPatients[i].pages.contact %></td>
                            <td style="border: 1px solid white; padding: 8px; width: 10%; color: white"><%= userPatients[i].pages.date %></td>
                            <td style="border: 1px solid white; padding: 8px; width: 10%; color: white"><%= userPatients[i].pages.sex %></td>
                            <td style="border: 1px solid white; padding: 8px; width: 5%;">
                                <a href="/form/<%= userPatients[i]._id %>" class="btn btn-primary btn-sm">Edit</a>
                            </td>
                            <td style="border: 1px solid white; padding: 8px; width: 5%;">
                                <a href="/printForm/<%= userPatients[i]._id %>" class="btn btn-success btn-sm" target="_blank">Print</a>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
                
                

                
            </thead>
        </table>
    </div>

    <%- include("partials/footer") %>