<%- include("partials/header") %>
    <form action="/logout" class="m-x-auto d-flex justify-content-end gap-3">
        <a class="btn btn-success btn-lg mt-4" href="/home" role="button">Home</a>
        <button class="btn btn-danger btn-lg mt-4">Log Out</button>
    </form>
    <div class="page">

        <form action="" method="post">
            <fieldset disabled class="form_box">
                <%- include("pages/page1") %>
            </fieldset>
            <fieldset disabled class="form_box">
                <%- include("pages/page2") %>
            </fieldset>
            <fieldset disabled class="form_box">
                <%- include("pages/page3") %>
            </fieldset>
            <fieldset disabled class="form_box">
                <%- include("pages/page4") %>
            </fieldset>
            <fieldset disabled class="form_box">
                <%- include("pages/page5") %>
            </fieldset>
            <div class="d-flex align-items-center justify justify-content-center gap-3 py-3">
                <button type="submit" formaction="/home/<%= patient_id %>"
                    class="btn btn-warning rounded px-4 text-white">Submit</button>
                <% if(patient_id) { %>
                    <button type="submit" formaction="/form/<%= patient_id %>"
                        class="edit_btn btn btn-primary rounded px-4 text-white ">Edit</button>
                    <button class="btn btn-success" onclick="printForm()">Print Form</button>
                <% } %>
            </div>
        </form>
    </div>
        
    <% var patientId =  patient_id; %>

    <script>        
        function printForm() { 
            // Open the form data in a new window for printing
            var formDataWindow = window.open('/printForm/<%= patientId %>' , '_blank');
                
        }
    </script>
    <%- include("partials/footer") %>