<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print Form</title>
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="images/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        body{
            padding: 4rem;
            font-size: 20px;
        }

        .prop{
            margin-right: 1rem;
        }
        ol{
            padding: 0;
            margin: 1.1rem;
        }

        li{
            margin: 1rem 1rem 1rem 1rem;
        }

        .form-data-heading{
            margin: 0 0 3rem 1rem;
            text-decoration: underline;
        }

        @media print {
            #printBtn{
                display: none;
            }
        }

        table {
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
    <div class="form-data">
        <h1 class="form-data-heading">CASE TAKING PROFORMA</h1>
        <ol>
            
            <% for (let prop in patientDetails.pages) { %>  
                <% if ( prop === "disease_name") { %>
                    <table style="border-collapse: collapse; width: 100%;">
                        <thead>
                            <tr>
                                <th style="border: 1px solid black; padding: 8px;">DISEASE NAME</th>
                                <th style="border: 1px solid black; padding: 8px;">TIMEOF</th>
                                <th style="border: 1px solid black; padding: 8px;">TREATMENT</th>
                                <th style="border: 1px solid black; padding: 8px;">RESULT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(typeof(patientDetails.pages.disease_name) ==="string"){ %>
                                <tr>
                                    <td style="border: 1px solid black; padding: 8px; word-wrap: break-word;"><%= patientDetails.pages.disease_name %></td>
                                    <td style="border: 1px solid black; padding: 8px; word-wrap: break-word;"><%= patientDetails.pages.timeOf %></td>
                                    <td style="border: 1px solid black; padding: 8px; word-wrap: break-word;"><%= patientDetails.pages.treatment %></td>
                                    <td style="border: 1px solid black; padding: 8px; word-wrap: break-word;"><%= patientDetails.pages.result %></td>   
                                    <% continue; %> 
                                </tr>
                            <% } %>
                            <% for(let i=0;i<patientDetails.pages.disease_name.length;i++){ %>
                                <tr>
                                    <td style="border: 1px solid black; padding: 8px; word-wrap: break-word;"><%= patientDetails.pages.disease_name[i] %></td>
                                    <td style="border: 1px solid black; padding: 8px; word-wrap: break-word;"><%= patientDetails.pages.timeOf[i] %></td>
                                    <td style="border: 1px solid black; padding: 8px; word-wrap: break-word;"><%= patientDetails.pages.treatment[i] %></td>
                                    <td style="border: 1px solid black; padding: 8px; word-wrap: break-word;"><%= patientDetails.pages.result[i] %></td>    
                                </tr>
                            <% } %>
                            
                        </tbody>
                    </table>
                    <% continue; %>
                <% } %>

                <% if ( prop === "prescriptionDate") { %>
                    
                    <table style="border-collapse: collapse; width: 100%; margin-top: 2rem;">
                        <thead>
                            <tr>
                                <th style="border: 1px solid black; padding: 8px;">DATE</th>
                                <th style="border: 1px solid black; padding: 8px;">REMARKS</th>
                                <th style="border: 1px solid black; padding: 8px;">RS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(typeof(patientDetails.pages.prescriptionDate) ==="string"){ %>
                                <tr>
                                    <td style="border: 1px solid black; padding: 8px; word-wrap: break-word;"><%= patientDetails.pages.prescriptionDate %></td>
                                    <td style="border: 1px solid black; padding: 8px; word-wrap: break-word;"><%= patientDetails.pages.prescriptionRemarks %></td>
                                    <td style="border: 1px solid black; padding: 8px; word-wrap: break-word;"><%= patientDetails.pages.prescriptionRx %></td> 
                                </tr>
                            <% }else{ %>
                                <% for(let i=0;i<patientDetails.pages.prescriptionDate.length;i++){ %>
                                    <tr>
                                        <td style="border: 1px solid black; padding: 8px; word-wrap: break-word;"><%= patientDetails.pages.prescriptionDate[i] %></td>
                                        <td style="border: 1px solid black; padding: 8px; word-wrap: break-word;"><%= patientDetails.pages.prescriptionRemarks[i] %></td>
                                        <td style="border: 1px solid black; padding: 8px; word-wrap: break-word;"><%= patientDetails.pages.prescriptionRx[i] %></td>
                                    </tr>
                                <% } %>     
                            <% } %>
                            
                        </tbody>
                    </table>
                    <% continue; %>
                <% } %>

                <% if(prop === "disease_name" || prop === "timeOf" || prop === "treatment" || prop === "result") continue; %>
                <% if(prop === "prescriptionDate" || prop === "prescriptionRemarks" || prop === "prescriptionRx") continue; %>

                
                <% if( patientDetails.pages[prop] !== "") { %>
                    <li><strong class="prop"><%= prop %>:</strong>  <%= patientDetails.pages[prop] %></li>
                <% } %>
            <% } %>
        </ol>
        <button id="printBtn" class="btn btn-primary btn-lg my-4"  onclick="window.print()">Print</button>        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>

