<h2 class="py-4">3. HOMOEOPATHIC GENERALITIES</h2>
<div class="row g-4">
    <div class="col-sm-6">
        <label for="tongue" class="form-label">Tongue :</label>
        <textarea id="tongue" name="tongue" class="form-control mb-3"><%= patientDetails.tongue %></textarea> 
    </div>
    <div class="col-sm-6">
        <label for="thirst" class="form-label">Thirst :</label>
        <textarea id="thirst" name="thirst" class="form-control mb-4"><%= patientDetails.thirst %></textarea>
    </div>
</div>
<div class="row g-4">
    <div class="col-sm-6">
        <label for="appetite" class="form-label">Appetite :</label>
        <textarea id="appetite" name="appetite" class="form-control mb-4"><%= patientDetails.appetite %></textarea>
    </div>
    <div class="col-sm-6">
        <label for="desire" class="form-label">Desire :</label>
        <textarea id="desire" name="desire" class="form-control mb-4"><%= patientDetails.desire %></textarea>
    </div>
</div>

<div class="row g-4">
    <div class="col-sm-6">
        <label for="aversion" class="form-label">Aversion :</label>
        <textarea id="aversion" name="aversion" class="form-control mb-4"><%= patientDetails.aversion %></textarea>
    </div>
    <div class="col-sm-6">
        <label for="reaction" class="form-label">Reaction to heat & cold :</label>
        <textarea id="reaction" name="reaction" class="form-control mb-4"><%= patientDetails.reaction %></textarea>
    </div>
</div>

<div class="row g-4">
    <div class="col-sm-6">
        <label for="hyper" class="form-label">Hyper susceptibility :</label>
        <textarea id="hyper" name="hyper_susceptibility" class="form-control mb-4"><%= patientDetails.hyper_susceptibility %></textarea>
    </div>
    <div class="col-sm-6">
        <label for="sleep" class="form-label">Sleep :</label>
        <textarea id="sleep" name="sleep" class="form-control mb-4"><%= patientDetails.sleep %></textarea>
    </div>
</div>

<div class="row g-4">
    <div class="col-sm-6">
        <label for="position" class="form-label">Position of sleep : </label>
        <textarea id="position" name="position" class="form-control mb-4"><%= patientDetails.position %></textarea>
    </div>
    <div class="col-sm-6">
        <label for="dream" class="form-label">Dream :</label>
        <textarea id="dream" name="dream" class="form-control mb-4"><%= patientDetails.dream %></textarea>
    </div>
</div>

<div class="row g-4">
    <div class="col-sm-6">
        <label for="periodicity" class="form-label">Periodicity :</label>
        <textarea id="periodicity" name="periodicity" class="form-control mb-4"><%= patientDetails.periodicity %></textarea>
    </div>
    <div class="col-sm-6">
        <label for="sides" class="form-label">Sides of body :</label>
        <textarea id="sides" name="sides" class="form-control mb-4"><%= patientDetails.sides %></textarea>        
    </div>
</div>

<div class="row g-4">
    <div class="col-sm-6">
        <label for="mental" class="form-label">Mental generals :</label>
        <textarea id="mental" name="mental" class="form-control mb-4"><%= patientDetails.mental %></textarea>
    </div>
    <div class="col-sm-6">
        <label for="modality" class="form-label">General modality :</label>
        <textarea id="modality" name="modality" class="form-control mb-4"><%= patientDetails.modality %></textarea>
    </div>
</div>

<div class="row g-4">
    <div class="col-sm-6">
        <label for="other" class="form-label">Other General :</label>
        <textarea id="other" name="other_general" class="form-control mb-4"><%= patientDetails.other_general %></textarea>
    </div>
    <div class="col-sm-6">
        <label for="constitution" class="form-label">Constitution :</label>
        <textarea id="constitution" name="constitution" class="form-control mb-4"><%= patientDetails.constitution %></textarea>
    </div>
</div>

<!-- <hr> -->
<h2 class="mt-3 mb-3">Discharge</h2>
<div class="row g-4">
    <div class="col-sm-6">
        <label for="stool" class="form-label">Stool :</label>
        <textarea id="stool" name="stool" class="form-control mb-4"><%= patientDetails.stool %></textarea>
    </div>
    <div class="col-sm-6">
        <label for="urine" class="form-label">Urine :</label>
        <textarea id="urine" name="urine" class="form-control mb-4"><%= patientDetails.urine %></textarea>
    </div>
</div>
<div class="row g-4">
    <div class="col-sm-6">
        <label for="sweat" class="form-label">Sweat :</label>
        <textarea id="sweat" name="sweat" class="form-control mb-4"><%= patientDetails.sweat %></textarea>
    </div>
    <div class="col-sm-6">
        <label for="mensturation" class="form-label">Mensturation :</label>
        <textarea id="mensturation" name="mensturation" class="form-control mb-4"><%= patientDetails.mensturation %></textarea>
    </div>
</div>

<div class="row g-4">
    <div class="col-sm-6">
        <label for="leucorrhoea" class="form-label">Lucorrhoea :</label>
        <textarea id="leucorrhoea" name="leucorrhoea" class="form-control mb-4"><%= patientDetails.leucorrhoea %></textarea>
    </div>
    <div class="col-sm-6">
        <label for="emission" class="form-label">Seminal emission :</label>
        <textarea id="emission" name="semimal_emission" class="form-control mb-4"><%= patientDetails.semimal_emission %></textarea>
    </div>
</div>

<div class="row g-4">
    <div class="col-sm-12">
        <label for="alteration" class="form-label">Alteration :</label>
        <textarea id="alteration" name="alteration" class="form-control mb-4"><%= patientDetails.alteration %></textarea>
    </div>
</div>