<h2 class="py-4">4. SELECTION OF REMEDY</h2>
<p><label for="characteristics" class="form-label mt-3">i. Finding of Characteristics :</label></p>
<textarea class="form-control" name="find_characteristics" id="characteristics" ><%= patientDetails.find_characteristics %></textarea>

<p><label for="evaluation_of_symptoms" class="form-label mt-3">ii. Evaluation of symptoms :</label></p>
<textarea class="form-control" name="evaluation_of_symptoms" id="evaluation_of_symptoms" ><%= patientDetails.evaluation_of_symptoms %></textarea>

<p><label for="analysis_of_case" class="form-label mt-3">iii. Analysis of case :</label></p>
<textarea class="form-control" name="analysis_of_case" id="analysis_of_case" ><%= patientDetails.analysis_of_case %></textarea>

<p><label for="repertorisation" class="form-label mt-3">iv. Repertorisation (competing remedies) :</label></p>
<textarea class="form-control" name="repertorisation" id="repertorisation" ><%= patientDetails.repertorisation %></textarea>

<p><label for="basis_of_selction" class="form-label mt-3">v. Basis of selection :</label></p>
<textarea class="form-control mb-4" name="basis_of_selction" id="basis_of_selction" ><%= patientDetails.basis_of_selction %></textarea>   
        


